* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::selection {
  color: black;
  background: #f4f5f5;
}
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: "Baloo Paaji 2", sans-serif;
}

:root {
  --landing-gradient: linear-gradient(
    rgba(56, 70, 77, 0.78),
    rgba(56, 70, 77, 0.78),
    url(/img/land.jpg)
  );
  --contact--gradient: linear-gradient(
    rgba(56, 70, 77, 0.94),
    rgba(56, 70, 77, 0.94)
  );
  --portfolio-border-gradient: linear-gradient(
    to top left,
    rgba(115, 133, 203, 1),
    rgba(139, 160, 169, 1)
  );
  --landing-card-one: rgba(183, 108, 80, 0.8);
  --landing-arrow-one: rgba(254, 242, 238, 1);
  --landing-card-two: rgba(240, 248, 255, 0.8);
  --landing-arrow-two: rgba(206, 214, 218, 1);
  --landing-card-three: rgba(216, 214, 177, 1);
  --landing-arrow-three: rgba(216, 214, 177, 1);
  --card-description: linear-gradient(
    rgba(83, 94, 143, 1),
    rgba(85, 92, 94, 1)
  );
  --over-layer: rgba(255, 255, 255, 0.39);
  --button-first: rgba(53, 132, 46, 1);
  --button-grey: rgba(139, 160, 169, 1);
  --admin-bg-color: rgba(0, 0, 0, 0.2);
  --admin-backdrop-filter: blur(10px);
  --login-btn-login: linear-gradient(
    rgba(40, 50, 55, 1),
    rgba(213, 215, 216, 1)
  );
  --article-one: linear-gradient(
    rgba(188, 188, 182, 1),
    rgba(255, 255, 153, 1)
  );
  --article-two: linear-gradient(
    rgba(135, 141, 159, 1),
    rgba(215, 223, 255, 1)
  );
  --article-three: linear-gradient(
    rgba(29, 185, 176, 1),
    rgba(124, 245, 239, 1)
  );
  --article-four: linear-gradient(
    rgba(205, 156, 163, 1),
    rgba(255, 233, 236, 1)
  );
  --nav-bg: rgba(82, 93, 98, 1);
  --detail-blog: rgba(136, 157, 168, 1);
  --active-nav-link: rgba(160, 180, 255, 1);
  --black-text: rgba(85, 92, 94, 1);
  --white-text: #fff;
  --light-grey-text: rgba(222, 224, 225, 1);
}

.user {
  background-color: #344047;
  color: #515c62;
}

.admin {
  background-color: #515c62;
  border-bottom: 1px solid #fff;
}

.admin__nav {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
.admin__nav-logo {
  width: 5rem;
}

.admin__nav-dash {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1rem;
  color: #fff;
}

.admin__nav-search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin__nav-search input[type="search"]::-webkit-search-decoration,
.admin__nav-search input[type="search"]::-webkit-search-cancel-button,
.admin__nav-search input[type="search"]::-webkit-search-results-button,
.admin__nav-search input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.admin__nav-search--input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  border: none;
  padding: 1rem 4rem;
  border-radius: 30rem;
  width: 90%;
  margin-left: -3.5rem;
  transition: all 0.2s;
  color: #fff;
}

.admin__nav-search--input:focus {
  outline: none;
  width: 100%;
}

.admin__nav-search--icon {
  width: 2rem;
  z-index: 5;
}

.admin__nav-profile {
  display: flex;
  align-items: center;
}

.admin__nav-profile--pic {
  border-radius: 50%;
  width: 7rem;
  margin-right: 2rem;
  border: 0.3rem solid #fff;
}

.admin__nav-profile--name {
  color: #fff;
  font-size: 1.4rem;
}

.admin__nav-profile--name---first {
  font-weight: 600;
}

.admin__nav-profile--name---last {
  letter-spacing: 1rem;
}

.admin__nav-logout {
  font-family: "Baloo Paaji 2", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  margin-top: 5rem;
  align-items: flex-start;
}

.container__side {
  background-color: #525d62;
  min-width: 23rem;
  margin-right: 10rem;
  min-height: 79vh;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.container__side-list {
  font-size: 1.6rem;
  color: #eef5f7;
  overflow: hidden;
  font-family: "Baloo Paaji 2", sans-serif;
}

.container__side-list--item a {
  cursor: pointer;
  text-decoration: none;
}

.container__side-list--item {
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 0.5rem;
  overflow: hidden;
  border-bottom: 1px solid #eef5f7;
}

.container__side-list--item a {
  text-decoration: none;
  cursor: pointer;
  color: #eef5f7;
}

.container__side-list--item:hover,
.container__side-list--item a:hover {
  background-color: #eef5f7;
  color: #525d62;
}

.container__content {
  background-color: #f4f5f5;
  width: 70vw;
  padding: 3rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.25);
}

.container__content-heading {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0.5rem;
  border-bottom: 1px solid #525252;
}

.container__content-heading-head {
  text-transform: uppercase;
  font-size: 2rem;
}

.container__content-heading--btn {
  border: none;
  padding: 1rem 2rem;
  color: #eef5f7;
  border-radius: 100px;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to right, #40813b, #8ba0a9);
}

.container__content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}

.container__content-row--edit {
  margin-right: 2rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  background-color: #40813b;
  color: #fff;
  cursor: pointer;
}

.container__content-row--delete {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  background-color: #f36d6d;
  color: #fff;
  cursor: pointer;
}

.container__content-row--article {
  display: flex;
  align-items: center;
}

.container__content-row--views {
  display: flex;
  align-items: center;
  width: 22rem;
}

.container__content-row--views-name {
  font-size: 1.6rem;
}

.container__content-row--likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__content-row--likes-like {
  width: 2.5rem;
  margin-right: 1rem;
}

.container__content-row--comments {
  display: flex;
  align-items: center;
}
.container__content-row--btns {
  display: flex;
  align-items: center;
}
.container__content-row--date {
  display: flex;
  align-items: center;
  width: 10rem;
}
.container__content-row--title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  width: 30rem;
}

.top-link {
  border-top-right-radius: 1.5rem;
}

.link-active {
  background-color: #eef5f7;
  color: #525d62;
  font-weight: 800;
}

.link-active a {
  color: #525d62;
}
.container__comment {
  border-bottom: 1px solid #525252;
}

.comment {
  font-size: 1.6rem;
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}

/* MESSAGE ALERT!!! */

/*  */
/* .alert-danger {
  background: rgb(255, 28, 28);
}

.container {
  position: fixed;
  width: 100%;
  display: none;
  height: 10%;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(53, 132, 46, 1);
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: scale-in 0.3s ease-out forwards,
    expand 0.35s 0.25s ease-out forwards;
  animation: scale-in 0.3s ease-out forwards,
    expand 0.35s 0.25s ease-out forwards;
}

.notification-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-animation: fade-in 0.65s ease-in forwards;
  animation: fade-in 0.65s ease-in forwards;
}

@-webkit-keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes expand {
  50% {
    width: 350px;
    border-radius: 6px;
  }
  100% {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@keyframes expand {
  50% {
    width: 350px;
    border-radius: 6px;
  }
  100% {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
} */

/* MESSAGE ALERT!!! */

@media (max-width: 64em) {
}
@media (max-width: 48em) {
  html {
    box-sizing: border-box;
    font-size: 48%;
  }
  .container__side {
    margin-right: 2vw;
    min-width: 17rem;
  }
  .admin__nav {
    margin: 0 1rem;
  }
  .container__content {
    padding: 1rem;
    width: 80vw;
  }
}
@media (max-width: 26.6em) {
}
