<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="../css/articles.css">
    <link rel="stylesheet" href="../css/loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo Paaji 2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">





    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>


<body class="article"> 
 
    <div class="container">
        <div class="rectangle">
            <div class="notification-text">
                <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 2rem;"></i>
                <span>&nbsp;&nbsp;This is a test notification.</span>
            </div>
        </div>
    </div>
    
    <div class="loader-container">
        <div class="loader">
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__ball"></div>
         </div>
       </div>


    <nav class="articles">
        <nav class="articles__nav">
            <div class="brand">
                <img src="/img/logo.png" alt="logo" class="articles__nav-logo">
            </div>

            <ul class="articles__nav-links">


                <li><a class="articles__nav-links--link articles__nav-links--link---active" href="">Home</a></li>
                <li><a class="articles__nav-links--link" href="">Services</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#skills">Skills</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#about">About me</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#portfolio">Portfolio</a></li>
                <li><a class="articles__nav-links--link articles__nav-links--link---current articles__nav-links--link---active" href="">Blog</a></li>
                <li class="articles__nav-links--link landing__nav-links--link landing__nav-links--link---popup" >Admin</li>


            </ul>




            <div class="articles__nav-profile">
                <img class="articles__nav-profile--pic" src="/img/profile-pic.jpg" alt="my pic">

                <p class="articles__nav-profile--name"> <span class="articles__nav-profile--name---first">Ndayisabye</span> <br> <span class="articles__nav-profile--name---last">Salim</span></p>
                <!-- <div class="articles__nav-profile--name---last">Salim</div> -->
                </figcaption>
            </div>


            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </nav>


    <main class="card" >
        
        <div class="card__tabs">

            <button data-tab="1" class="card__tabs-tab card__tabs-tab--1 card__tabs-tab--active">01 Web and app</button>
            <button data-tab="2" class="card__tabs-tab card__tabs-tab--2">02 Machine design</button>
            <button data-tab="3" class="card__tabs-tab card__tabs-tab--3">03 Life Experience</button>
            <!-- <button data-tab="4" class="card__tabs-tab card__tabs-tab--4">04 Article</button> -->

            </div>
        </div>
        <!-- <div class="card__content card__content-1 card__content-active" data-tab="1">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">My journey to ATLP</h2>
            <p class="card__content-paragraph">
                The benefit of having great friends. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--1">
                Read more . .
            </a>
            
        </div>

        <div class="card__content card__content-1 card__content-active" data-tab="1">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">My journey to ATLP</h2>
            <p class="card__content-paragraph">
                The benefit of having great friends. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--1">
                Read more . .
            </a>
            
        </div>
        <div class="card__content card__content-1 card__content-active" data-tab="1">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">My journey to ATLP</h2>
            <p class="card__content-paragraph">
                The benefit of having great friends. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--1">
                Read more . .
            </a>
            
        </div>


        <div class="card__content card__content-2">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">How coding gave me career freedom</h2>
            <p class="card__content-paragraph">
                Coding started as a hobby for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--2">
                Read more . .
            </a>

        </div>
        <div class="card__content card__content-2">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">How coding gave me career freedom</h2>
            <p class="card__content-paragraph">
                Coding started as a hobby for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--2">
                Read more . .
            </a>
        </div>
        <div class="card__content card__content-2">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">How coding gave me career freedom</h2>
            <p class="card__content-paragraph">
                Coding started as a hobby for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--2">
                Read more . .
            </a>
        </div> -->

        <div id="blog-list-3"  data-tab="3">
            <div class="card__content card__content-3" data-tab="3">
                <img class="card__content-img" src="/img/article.png" alt="Article image">
                <h2 class="card__content-heading">The way I started Django</h2>
                <p class="card__content-paragraph">
                    Django was not easy at all for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                    Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.
    
                </p>
                <a href="./article.html" class="card__content-btn card__tabs-tab--3">
                    Read more . .
                </a>
                
            </div>    
        </div>

        <div id="blog-list-2"  data-tab="2">
            <div class="card__content card__content-2" data-tab="2">
                <img class="card__content-img" src="/img/article.png" alt="Article image">
                <h2 class="card__content-heading">The way I started Django</h2>
                <p class="card__content-paragraph">
                    Django was not easy at all for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                    Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.
    
                </p>
                <a href="./article.html" class="card__content-btn card__tabs-tab--2">
                    Read more . .
                </a>
                
            </div>    
        </div>

        <div id="blog-list-1"  data-tab="1">
            <div class="card__content card__content-1" data-tab="1">
                <img class="card__content-img" src="/img/article.png" alt="Article image">
                <h2 class="card__content-heading">The way I started Django</h2>
                <p class="card__content-paragraph">
                    Django was not easy at all for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                    Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.
    
                </p>
                <a href="./article.html" class="card__content-btn card__tabs-tab--1">
                    Read more . .
                </a>
                
            </div>    
        </div>

        <!-- <div class="card__content card__content-3" data-tab="3">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">The way I started Django</h2>
            <p class="card__content-paragraph">
                Django was not easy at all for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--3">
                Read more . .
            </a>
            
        </div>
        <div class="card__content card__content-3" data-tab="3">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">The way I started Django</h2>
            <p class="card__content-paragraph">
                Django was not easy at all for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--3">
                Read more . .
            </a>
            
        </div> -->
        <!-- <div class="card__content card__content-4" data-tab="4">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">The first machine design job</h2>
            <p class="card__content-paragraph">
                Designing machines started as a real big deal for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--4">
                Read more . .
            </a>
            
        </div>
        <div class="card__content card__content-4" data-tab="4">
            <img class="card__content-img" src="/img/article.png" alt="Article image">
            <h2 class="card__content-heading">The first machine design job</h2>
            <p class="card__content-paragraph">
                Designing machines started as a real big deal for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.

            </p>
            <a href="./article.html" class="card__content-btn card__tabs-tab--4">
                Read more . .
            </a>
            
        </div> -->

        
    </main>

    <section class="subscribe">
        <form class="subscribe-form">
            <input class="subscribe-email" id="subscribe" placeholder="E m a i l . . ." type="email">
            <input type="submit"  class="subscribe-submit" id="subscribe-btn" value="Subscribe">
          </form>
    </section>

    <div class="popup" id="popup">
        <div class="container-form">
        
        
              <div class="wrapper">
                <p id="times" class="popup__login-close">&times;</p>
                 <div class="title-text">
                    <div class="title login">
                       Login Form
                    </div>
                    <div class="title signup">
                       Signup Form
                    </div>
                 </div>
                 <div class="form-container">
                    <div class="slide-controls">
                       <input type="radio" name="slide" id="login" checked>
                       <input type="radio" name="slide" id="signup">
                       <label for="login" class="slide login">Login</label>
                       <label for="signup" class="slide signup">Signup</label>
                       <div class="slider-tab"></div>
                    </div>
                    <div class="form-inner">
                       <form id="login-form" class="login">
                          <div class="field">
                             <input id="login-email" type="email" placeholder="Email Address" required>
                          </div>
                          <div class="field">
                             <input id="login-password" type="password" placeholder="Password" required>
                          </div>
                          <div class="pass-link">
                             <a href="#">Forgot password?</a>
                          </div>
                          <div class="field btn">
                             <div class="btn-layer"></div>
                             <input type="submit" value="Login">
                          </div>
                          <div class="signup-link">
                             Not a member? <a href="">Signup now</a>
                          </div>
                       </form>
                       <form id="signup-form" class="signup">
                          <div class="field">
                             <input type="email" id="signup-email" placeholder="Email Address" required>
                          </div>
                          <div class="field">
                             <input type="text" id="signup-name" placeholder="User name" required>
                          </div>
                          <div class="field">
                             <input type="password" id="signup-password" placeholder="Password" required>
                          </div>
                          <div class="field btn">
                             <div class="btn-layer"></div>
                             <input type="submit" id='signup-btn' value="Signup">
                          </div>
                       </form>
                    </div>
                 </div>
              </div>



 
            
        





    <script src="/js/show.blogs.js"></script>
    <!-- <script src="/js/auth.js"></script> -->
    <script src="/js/main.js"></script>

<script src="../js/blogList.js"></script>
</body>
</html>