<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="../css/article.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo Paaji 2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">





    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body class="article">

    <nav class="articles">
        <nav class="articles__nav">
            <div class="brand">
                <img src="/img/logo.png" alt="logo" class="articles__nav-logo">
            </div>

            <ul class="articles__nav-links">


                <li><a class="articles__nav-links--link articles__nav-links--link---active" href="">Home</a></li>
                <li><a class="articles__nav-links--link" href="">Services</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#skills">Skills</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#about">About me</a></li>
                <li><a class="articles__nav-links--link scrolls" href="#portfolio">Portfolio</a></li>
                <li><a class="articles__nav-links--link articles__nav-links--link---current articles__nav-links--link---active" href="">Blog</a></li>
                <li class="articles__nav-links--link landing__nav-links--link landing__nav-links--link---popup" >Admin</li>


            </ul>




            <div class="articles__nav-profile">
                <img class="articles__nav-profile--pic" src="/img/profile-pic.jpg" alt="my pic">

                <p class="articles__nav-profile--name"> <span class="articles__nav-profile--name---first">Ndayisabye</span> <br> <span class="articles__nav-profile--name---last">Salim</span></p>
                <!-- <div class="articles__nav-profile--name---last">Salim</div> -->
                </figcaption>
            </div>


            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </nav>

    <main class="blog">
        <div class="blog__head">
            <img src="../img/article.png" alt="" class="blog__head-img">
            <div class="blog__head-article">
                <h1 class="blog__head-article--title" id="blog-title">How coding gave me career freedom</h1>
                <div class="blog__head-article--infos">
                    <span class="blog__head-article--infos---date" id="blog-date-2">
                        22 Feb 2022
                    </span>
                    <span class="blog__head-article--infos---like">
                        <img src="../img/like-empty.svg" alt="Like" class="blog__head-article--infos---like----empty"><span>Like</span>
                    </span>

                    <span class="blog__head-article--infos---likes">
                        <img src="../img/like-filled.svg" alt="Likes" class="blog__head-article--infos---likes---filled"><span >3 Likes</span>
                    </span>

                    <span class="blog__head-article--infos---comments">3 comments</span>
                </div>
                <p class="blog__head-article--heading" id="blog-intro">Coding started as a hobby for me. Then turned into some freelancing as a teenager. Then I got into startups and the web development agency life style.
                    Yes, you heard me right. I've worked for myself, for others, and my own companies. But it gets better.
                    Being able to code or program has let me explore adjacent industries, offer advice, and understand how technology in general works. Ever open an app that just doesn't work? Knowing how the code works gives special insight into why it might be broken. Knowing that alone makes living with technology easier.
                    That's just the tip of the iceberg.
                </p>
            </div>
        </div>

        <article class="blog__article" id="blog-body">
            <p class="blog__article-detail">
                <h1 style="text-transform: uppercase;">It's about demand</h1>
                The world is hungry for good programmers. Not just juniors.  If you are a junior dev, keep plugging away and growing your skills! (Tip: Solve real world problems for <br>real people, you'll learn faster).
                I have people asking me to work with them all the time. I simply cannot say yes to everybody — it's a real problem. It's a good problem, but still a problem.<br> But as long as I have laptop and internet access.. guess where I can work?
                Anywhere. Seriously.<br>
                
                And if you get a job in tech, you can move sideways to other companies fairly quickly (within 1-2 years, usually). And because so many jobs are remote (working from home!) <br>it doesn't matter where you live. Or move to. Or want to move to. The only thing that changes in your day to day job as a coder is your timezone.
                Think about that...<br> think about your last job. Could you do it from anywhere in the world? Could you go to New Zealand and work?Australia? Sweden? Cuba? {insert 180 other country names}<br>
                <br>
                <h1 style="text-transform: uppercase;">The best time to learn to code</h1>
                It's not an overnight success story. It takes time and hard work. It takes powering through frustration and struggling with hard problems that stretch the limits<br> of your brain. It takes learning new things every single day for the rest of your life. It takes admitting you don't know everything, and being able to ask for help.<br> It's not as easy as it sounds.
                
            </p>
        </article>
        <div class="blog__head-article--infos blog__head-article--infos---down" style="width: 100%; border-bottom: 1px solid black; padding-bottom: 3rem;">
            <span class="blog__head-article--infos---date" id="blog-date">
                22 Feb 2022
            </span>
            <span class="blog__head-article--infos---like">
                <img src="../img/like-empty.svg" alt="Like" class="blog__head-article--infos---like----empty"><span>Like</span>
            </span>

            <span class="blog__head-article--infos---likes">
                <img src="../img/like-filled.svg" alt="Likes" class="blog__head-article--infos---likes---filled"><span >3 Likes</span>
            </span>

            <span class="blog__head-article--infos---comments" style="margin-right: 30vw;">3 comments</span>
        </div>

        <form class="blog__form" id="comment-form">
            <input type="text" placeholder="Full name" class="blog__form-name" id="commenter-name">
            <textarea name="" id="comment" cols="30" rows="10" placeholder="Type your comment here..." class="blog__form-comment"></textarea>
            <input type="button" id="comment-btn" class="blog__form-btn" value="Post">
        </form>
        
        <div class="blog__comment">
            <div class="blog__comment-container">
                <img src="../img/comment.svg" alt="Comment icon" class="blog__comment-container--img">
                <span class="blog__comment-container--comments">3 comments</span>
            </div>
        </div>
        
        <div id="show-comments">
            <div class="blog__display">
                <div class="blog__display-symbol">NS</div>
                <div class="blog__display-name"><span>NDAYISABYE Salim</span> <i>05 feb 2022</i></div>
                <p class="blog__display-comment">
                    It's not an overnight success story. It takes time and hard work. It takes powering <br> through frustration and struggling with hard problems that stretch the limits of your brain. It takes learning new things every single day .
                </p>
            </div>
            <div class="blog__display">
                <div class="blog__display-symbol">IH</div>
                <div class="blog__display-name"><span>ISHIMWE Homere</span> <i>05 feb 2022</i></div>
                <p class="blog__display-comment">
                    It's not an overnight success story. It takes time and hard work. It takes powering <br> through frustration and struggling with hard problems that stretch the limits of your brain. It takes learning new things every single day .
                </p>
            </div>
        </div>
    </main>


    <p class="copyright">
        &copy;2022 NDAYISABYE Salim all right reserved.
    </p>



    
<div class="popup" id="popup">
    <div class="container">
    
    
          <div class="wrapper">
            <p id="times" class="popup__login-close">&times;</p>
             <div class="title-text">
                <div class="title login">
                   Login Form
                </div>
                <div class="title signup">
                   Signup Form
                </div>
             </div>
             <div class="form-container">
                <div class="slide-controls">
                   <input type="radio" name="slide" id="login" checked>
                   <input type="radio" name="slide" id="signup">
                   <label for="login" class="slide login">Login</label>
                   <label for="signup" class="slide signup">Signup</label>
                   <div class="slider-tab"></div>
                </div>
                <div class="form-inner">
                   <form id="login-form" class="login">
                      <div class="field">
                         <input id="login-email" type="email" placeholder="Email Address" required>
                      </div>
                      <div class="field">
                         <input id="login-password" type="password" placeholder="Password" required>
                      </div>
                      <div class="pass-link">
                         <a href="#">Forgot password?</a>
                      </div>
                      <div class="field btn">
                         <div class="btn-layer"></div>
                         <input type="submit" value="Login">
                      </div>
                      <div class="signup-link">
                         Not a member? <a href="">Signup now</a>
                      </div>
                   </form>
                   <form id="signup-form" class="signup">
                      <div class="field">
                         <input type="email" id="signup-email" placeholder="Email Address" required>
                      </div>
                      <div class="field">
                         <input type="text" id="signup-name" placeholder="User name" required>
                      </div>
                      <div class="field">
                         <input type="password" id="signup-password" placeholder="Password" required>
                      </div>
                      <div class="field btn">
                         <div class="btn-layer"></div>
                         <input type="submit" id='signup-btn' value="Signup">
                      </div>
                   </form>
                </div>
             </div>
          </div>
    


    <script src="/js/show.blog.js"></script>
    <!-- <script src="/js/auth.js"></script> -->
    <script src="/js/main.js"></script>

</body>
</html>