<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="../css/users.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo Paaji 2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
</head>
<body class="user">


    <div class="loader-container" id="loader-container">
        <div class="loader">
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__ball"></div>
         </div>
       </div>


    <nav class="admin">
        <nav class="admin__nav">
            <ul class="admin__nav-links">

                <img src="/img/logo.png" alt="logo" class="admin__nav-logo">

            </ul>


            <h3 class="admin__nav-dash">DASHBOARD</h3>

            <form class="admin__nav-search" action="">

                <img src="../img/search.svg" alt="Search icon" class="admin__nav-search--icon">
                
                <input class="admin__nav-search--input" type="search" placeholder="search..." >
            </form>
            
            <div class="admin__nav-profile">
                <img class="admin__nav-profile--pic" src="/img/profile-pic.jpg" alt="my pic">

                <p class="admin__nav-profile--name"> <span class="admin__nav-profile--name---first">Ndayisabye</span> <br> <span class="admin__nav-profile--name---last">Salim</span></p>
                <!-- <div class="admin__nav-profile--name---last">Salim</div> -->
                </figcaption>
            </div>

            <a href="" id="logout-btn" class="admin__nav-logout">
                Log Out
            </a>

        </nav>
    </nav>


    <main class="container">
        <div class="container__side">
            <ul class="container__side-list">
                <li class="container__side-list--item top-link "><a href="/views/blogs.html">Manage Blogs</a></li>
                <li class="container__side-list--item" id="queries-hide"><a href="/views/queries.html">Manage Queries</a></li>
                <li class="container__side-list--item"><a href="/views/comments.html">Manage Comments</a> </li>
                <li class="container__side-list--item link-active"><a href="/views/users.html">Manage Users</a> </li>
            </ul>

        </div>
        <div class="container__content">
            <div class="container__content-heading">
                <h1 class="container__content-heading-head">
                    Manage Users
                </h1>
            </div>
<div id="users-show">
            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>



            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>




            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>





            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>


            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>



            <div class="container__content-row">
                <div class="container__content-row--user">
                    <h5 style="font-size: 1.6rem; margin-right: 2rem;"></h5>01
                </div>
                <h2 class="container__content-row--name">
                    ISHIMWE Homere
                </h2>
                <span class="container__content-row--email">ishimwehomere24@gmail.com</span>
                <div class="container__content-row-b">

                    <img class="container__content-row--img" src="/img/file.png" alt="files">
                    <span class="container__content-row--nbr">3</span>
                    <span>Blogs</span>

                </div>
   
                <div class="container__content-row--date">
                    <span class="container__content-row--date-now">15 Feb 2023</span>
                </div>

                <div class="container__content-row--btns">
                    <button class="container__content-row--edit">Contact the user</button>
                    <button class="container__content-row--delete">Delete user</button>
                </div>
            </div>
</div>




            
        </div>
    </main>

    <!-- <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script> -->
    <!-- <script src="/js/admin.logout.js"></script> -->
    <script src="/js/admin.users.js"></script>


</body>
</html>